/*
  Defines keyframes for fading in page header text.
  - name        : fadeIn
  - start state : { opacity: 0; }
  - end state   : { opacity: 1; }
*/
@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
   @-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
        @keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.fade_in {
  /* Make elements invisible upon start */
  opacity:0;

  /* Call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -webkit-animation: fadeIn ease-in 1;
     -moz-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;

  /* This makes sure that after animation is done, we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
          animation-duration: 1s;
}

.fade_in._1 {
  -webkit-animation-delay: .2s;
     -moz-animation-delay: .2s;
          animation-delay: .2s;
}
.fade_in._2 {
  -webkit-animation-delay: .4s;
     -moz-animation-delay: .4s;
          animation-delay: .4s;
}
.fade_in._3 {
  -webkit-animation-delay: .6s;
     -moz-animation-delay: .6s;
          animation-delay: .6s;
}
.fade_in._4 {
  -webkit-animation-delay: .8s;
     -moz-animation-delay: .8s;
          animation-delay: .8s;
}
.fade_in._5 {
  -webkit-animation-delay: 1.0s;
     -moz-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.fade_in._6 {
  -webkit-animation-delay: 1.2s;
     -moz-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.fade_in._7 {
  -webkit-animation-delay: 1.4s;
     -moz-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.fade_in._8 {
  -webkit-animation-delay: 1.6s;
     -moz-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.fade_in._9 {
  -webkit-animation-delay: 1.8s;
     -moz-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

/* Adjust the space between letters */
.fade_in {
  margin-left: -20px;
}


/*
  ngAnimation
*/


.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger,
.repeat-animation2.ng-enter-stagger,
.repeat-animation2.ng-leave-stagger,
.repeat-animation2.ng-move-stagger {
  /* 100ms will be applied between each sucessive enter operation */
     -moz-transition-delay: 0.1s !important;
  -webkit-transition-delay: 0.1s !important;
          transition-delay: 0.1s !important;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration: 0 !important;
          transition-duration: 0 !important;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move,
.repeat-animation2.ng-enter,
.repeat-animation2.ng-leave,
.repeat-animation2.ng-move {
     -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move,
.repeat-animation2.ng-leave.ng-leave-active,
.repeat-animation2.ng-enter,
.repeat-animation2.ng-move {
     -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all;

  opacity:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.repeat-animation2.ng-leave,
.repeat-animation2.ng-move.ng-move-active,
.repeat-animation2.ng-enter.ng-enter-active {
  opacity:1;
}
