/*
  App-wide basic styles
 */


html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #404142;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 300px;
  color: #FFFFFF;
}

.page h1.masatoshi {
  font-family: 'Allura', cursive;
  padding-bottom: 10px;
}

.page h2 {
  font-weight: 700;
}

.btn {
  border-radius: 0;
  font-size: 16px;
  padding: 8px 12px;

  /* Smooth hover effect */
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

/* Removes default blue border */
.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

/* Stays right at the bottom even if content's height is short. */
footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: center;
  color: #ABABAB;
}


/*
  topNavbar
 */

.top_navbar {
  display: inline;
}
.top_navbar .buttons_left {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 7px;
  z-index: 9;  /* ??? */
}

.nav_button {
  background: #000000;
  color: #FFFFFF;
  vertical-align: middle;  /* Keeps all the buttons aligned */
  height: 40px;
  border: 1px solid #ABABAB;
}
.nav_button:hover,
.nav_button:focus {
  outline: 0;
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
}
.nav_button:active,
.nav_button.active {
  outline: 0;
  background: #FFFFFF;
  color: #000000;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.nav_button.home {
  padding: 0 25px 0 111px;
  margin-left: -100px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: -3px;
}

.nav_button.about,
.nav_button.contact {
  padding: 0 15px;
}

.nav_button.sort {
  padding: 0 111px 0 25px;
  margin-right: -100px;
  color: #000000;
  background: #FFFFFF;
  border-color: #000000;
}


/*
  Parallelogram shape
  http://codepen.io/brownerd/pen/vwfJA
*/


.parallelogram {
  -webkit-transform: skew(-30deg);
     -moz-transform: skew(-30deg);
       -o-transform: skew(-30deg);
}

.skew_fix{
  display: inline-block;
  transform: skew(30deg);
}


/*
  Page contents
 */


.page .contact .message {
  max-width: 600px;
  margin: 40px auto 0 auto;
}

.page .contact .message textarea {
  height: 100px;
}
