<top-navbar></top-navbar>

<div class="page_about container">

  <header>
    <h1 class="display-1 masatoshi">
      <span class="letter fade_in _1">M</span>
      <span class="letter fade_in _2">a</span>
      <span class="letter fade_in _3">s</span>
      <span class="letter fade_in _4">a</span>
      <span class="letter fade_in _5">t</span>
      <span class="letter fade_in _6">o</span>
      <span class="letter fade_in _7">s</span>
      <span class="letter fade_in _8">h</span>
      <span class="letter fade_in _9">i</span>
    </h1>
  </header>

  <p>
    Hi, I am Masatoshi Nishiguchi, an aspiring programmer who loves coding
    and is passionate about building web and mobile applications.
    I am originally from Japan, but currently live in the United States in Washington, DC.
  </p>

  <hr class="m-y-2">

  <h2>Skills &amp; Experience</h2>

  <p>
    These are some of the development tools that I currently use and programming
    languages that I have learned. I am so thankful to generous, experienced coders
    who shared their precious tutorials and other resources.
  </p>

  <table class="table">
    <tbody>
      <tr>
        <td>
          HTML5, CSS3, Ruby on Rails, AngularJS, JavaScript, CoffeeScript, jQuery,
          ReactJS, Java (Android), Python, C/C++
        </td>
      </tr>
      <tr>
        <td>
          OS X, Linux
        </td>
      </tr>
      <tr>
        <td>
          iTerm, Sublime Text, Android Studio, NetBeans, Xcode, Vim
        </td>
      </tr>
      <tr>
        <td>
          Git, Heroku, SQLite, PostgreSQL
        </td>
      </tr>
      <tr>
        <td>
          Japanese, English, Spanish
        </td>
      </tr>
    </tbody>
  </table>

</div><!-- /.page_about -->
