<div class="contact">
  <section>
    <textarea
      ng-model="contact.message"
      placeholder="your message"
      class="form-control">
    </textarea>

    <div class="clearfix"></div>
    <div
      class="btn-group pull-right"
      role="group" aria-label="Basic example" >
      <button type="button"
        class="clear_msg btn btn btn-secondary"
        ng-click="contact.clearMsg()">
        Clear
      </button>
      <button type="button"
        class="send_email btn btn-success"
        ng-click="contact.sendEmail()">
        Send
      </button>
    </div>
  </section>
</div>
