/*
  App-wide basic styles
 */

.wrapper {
  background: #DDDDDD;
}

.topnavbar__header {
  background: #789ABC;
  padding: 10px;
}

.view-container {
  padding: 20px 0;
  min-height: 300px;
}

footer {
  margin: 80px 0 0 0;
  padding: 20px 5px;
  border-top: 1px solid #333333;
}

footer > p {
  margin: 0;
}


/*
  Parallelogram shape
  http://codepen.io/brownerd/pen/vwfJA
*/


.parallelogram {
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
}

.skew-fix{
  display: inline-block;
  transform: skew(-20deg);
}


/*
  CSS Transitions and/or Keyframe Animations
*/


.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger,
.repeat-animation2.ng-enter-stagger,
.repeat-animation2.ng-leave-stagger,
.repeat-animation2.ng-move-stagger {
  /* 100ms will be applied between each sucessive enter operation */
     -moz-transition-delay: 0.1s !important;
  -webkit-transition-delay: 0.1s !important;
          transition-delay: 0.1s !important;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration: 0 !important;
          transition-duration: 0 !important;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move,
.repeat-animation2.ng-enter,
.repeat-animation2.ng-leave,
.repeat-animation2.ng-move {
     -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move,
.repeat-animation2.ng-leave.ng-leave-active,
.repeat-animation2.ng-enter,
.repeat-animation2.ng-move {
     -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all;

  opacity:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active
{
  opacity:1;
}

.repeat-animation2.ng-leave,
.repeat-animation2.ng-move.ng-move-active,
.repeat-animation2.ng-enter.ng-enter-active {
  opacity:1;
}
