/*
  App-wide basic styles
 */

body {
  color: #FFFFFF;
  background: #444444;
}

footer {
  margin: 80px 0 0 0;
  padding: 20px 5px;
  border-top: 1px solid #333333;
}

footer > p {
  text-align: center;
}

/* Removes default blue border */
button:focus { outline: 0; }


/*
  Navbar
 */


.top_navbar {
  /* To prevent from the x-axis scroll caused by rh side of the sorting button. */
  overflow: hidden;
}

.top_navbar.buttons {
  padding: 10px 0;
}

.nav_button {
  height: 50px;
  line-height: 1px;
  vertical-align: text-bottom;  /* Keeps all the buttons aligned */
  background: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.nav_button.active {
  color: #000000;
  background: #FFFFFF;
}

.nav_button:hover {
  color: #000000;
  background: #FFFFFF;
}

.nav_button.home {
  padding: 10px 25px 10px 111px;
  margin-left: -100px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: -3px;
}

.nav_button.about,
.nav_button.contact {
  padding: 10px 15px;
}

.nav_button.sort {
  padding: 10px 111px 10px 25px;
  margin-right: -100px;
  color: #000000;
  background: #FFFFFF;
  border-color: #000000;
}


/*
  Parallelogram shape
  http://codepen.io/brownerd/pen/vwfJA
*/


.parallelogram {
  -webkit-transform: skew(-30deg);
     -moz-transform: skew(-30deg);
       -o-transform: skew(-30deg);
}

.skew_fix{
  display: inline-block;
  transform: skew(30deg);
}


/*
  Pages
 */


.page {
  padding-top: 40px;
}

.page h1 {
  font-family: 'Allura', cursive;
  padding-bottom: 10px;
}

.page .contact {
  width: 400px;
  display: block;
  margin: 0 auto;
  overflow: auto;
}


/*
  CSS Transitions and/or Keyframe Animations
*/


.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger,
.repeat-animation.ng-move-stagger,
.repeat-animation2.ng-enter-stagger,
.repeat-animation2.ng-leave-stagger,
.repeat-animation2.ng-move-stagger {
  /* 100ms will be applied between each sucessive enter operation */
     -moz-transition-delay: 0.1s !important;
  -webkit-transition-delay: 0.1s !important;
          transition-delay: 0.1s !important;

  /* this is here to avoid accidental CSS inheritance */
  -webkit-transition-duration: 0 !important;
          transition-duration: 0 !important;
}

.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move,
.repeat-animation2.ng-enter,
.repeat-animation2.ng-leave,
.repeat-animation2.ng-move {
     -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all;
}

.repeat-animation.ng-leave.ng-leave-active,
.repeat-animation.ng-enter,
.repeat-animation.ng-move,
.repeat-animation2.ng-leave.ng-leave-active,
.repeat-animation2.ng-enter,
.repeat-animation2.ng-move {
     -moz-transition: 0.2s ease-in-out all;
  -webkit-transition: 0.2s ease-in-out all;
          transition: 0.2s ease-in-out all;

  opacity:0;
}

.repeat-animation.ng-leave,
.repeat-animation.ng-move.ng-move-active,
.repeat-animation.ng-enter.ng-enter-active {
  opacity:1;
}

.repeat-animation2.ng-leave,
.repeat-animation2.ng-move.ng-move-active,
.repeat-animation2.ng-enter.ng-enter-active {
  opacity:1;
}
