<nav class="top_navbar navbar-fixed-top" role="navigation">

  <div class="top_navbar buttons" >
    <!-- Left-hand side -->
    <!-- href resets the view, orderProp resets the order -->
    <!-- has to come after the select, otherwise the ngclick does not work -->
    <!-- active by default -->
    <button
      class="home parallelogram nav_button"
      ng-click="topNavbar.handleClick( 'home' )"
      ng-class="{ active: topNavbar.isActive( 'home' ) }">

      <div class="skew_fix">

        <span class="sr-only">Home button</span>

        <!-- On mobile phones, only shows initials -->
        <span class="letter">M</span>
        <span class="letter hidden-sm-down">a</span>
        <span class="letter hidden-sm-down">s</span>
        <span class="letter hidden-sm-down">a</span>
        <span class="letter hidden-sm-down">t</span>
        <span class="letter hidden-sm-down">o</span>
        <span class="letter hidden-sm-down">s</span>
        <span class="letter hidden-sm-down">h</span>
        <span class="letter hidden-sm-down">i</span>
        &nbsp;
        <span class="letter">N</span>
        <span class="letter hidden-sm-down">i</span>
        <span class="letter hidden-sm-down">s</span>
        <span class="letter hidden-sm-down">h</span>
        <span class="letter hidden-sm-down">i</span>
        <span class="letter hidden-sm-down">g</span>
        <span class="letter hidden-sm-down">u</span>
        <span class="letter hidden-sm-down">c</span>
        <span class="letter hidden-sm-down">h</span>
        <span class="letter hidden-sm-down">i</span>
      </div>
    </button>
    <button
      class="about parallelogram nav_button"
      ng-click="topNavbar.handleClick( 'about' )"
      ng-class="{ active: topNavbar.isActive( 'about' ) }">

      <div class="skew_fix">

        <span class="sr-only">Information button</span>

        <span class="hidden-xs-down">About</span>
        <i class="fa fa-info-circle"></i>
      </div>

    </button>
    <button
      class="contact parallelogram nav_button"
      ng-click="topNavbar.handleClick( 'contact' )"
      ng-class="{ active: topNavbar.isActive( 'contact' ) }">

      <div class="skew_fix">

        <span class="sr-only">Contact button</span>

        <span class="hidden-xs-down">Contact</span>
        <i class="fa fa-envelope"></i>
      </div>

    </button>

    <!-- Right-hand side -->
    <button
      class="sort parallelogram nav_button pull-right"
      ng-click="topNavbar.toggleSorter()">

      <div class="skew_fix">

        <span class="sr-only">Toggle button for sorting options</span>

        <span class="hidden-xs-down">Sorting</span>
        <i class="fa fa-bars"></i>
      </div>

    </button>

  </div>

  <!-- Portfolio sorting options -->
  <div
    class="sort_portfolio pull-right"
    ng-show="topNavbar.isSortingListShown">

    <select ng-model="orderProp" >

      <option value="" selected>Show All<sup> *</sup></option>
      <option value="latest">Latest</option>
      <option value="websites">Websites</option>
      <option value="mobileApps">Mobile apps</option>
      <option value="experiments">Experiments</option>

    </select>

  </div>

</nav><!-- /.top-navbar -->
