<nav class="top_navbar navbar-fixed-top" role="navigation">

  <section>

    <button
      class="nav_home parallelogram nav_button btn"
      ng-click="topNavbar.handleClick( 'home' )"
      ng-class="{ active: topNavbar.isActive( 'home' ) }">

      <div class="skew_fix">

        <span class="sr-only">Home button</span>

        <!-- On mobile phones, only shows initials -->
        <span class="letter">M</span>
        <span class="letter hidden-sm-down">a</span>
        <span class="letter hidden-sm-down">s</span>
        <span class="letter hidden-sm-down">a</span>
        <span class="letter hidden-sm-down">t</span>
        <span class="letter hidden-sm-down">o</span>
        <span class="letter hidden-sm-down">s</span>
        <span class="letter hidden-sm-down">h</span>
        <span class="letter hidden-sm-down">i</span>
        &nbsp;
        <span class="letter">N</span>
        <span class="letter hidden-sm-down">i</span>
        <span class="letter hidden-sm-down">s</span>
        <span class="letter hidden-sm-down">h</span>
        <span class="letter hidden-sm-down">i</span>
        <span class="letter hidden-sm-down">g</span>
        <span class="letter hidden-sm-down">u</span>
        <span class="letter hidden-sm-down">c</span>
        <span class="letter hidden-sm-down">h</span>
        <span class="letter hidden-sm-down">i</span>
      </div>
    </button>
    <button
      class="nav_about parallelogram nav_button btn"
      ng-click="topNavbar.handleClick( 'about' )"
      ng-class="{ active: topNavbar.isActive( 'about' ) }">

      <div class="skew_fix">

        <span class="sr-only">Information button</span>

        <span class="hidden-xs-down">About</span>
        <i class="fa fa-info-circle"></i>
      </div>

    </button>
    <button
      class="nav_contact parallelogram nav_button btn"
      ng-click="topNavbar.handleClick( 'contact' )"
      ng-class="{ active: topNavbar.isActive( 'contact' ) }">

      <div class="skew_fix">

        <span class="sr-only">Contact button</span>

        <span class="hidden-xs-down">Contact</span>
        <i class="fa fa-envelope"></i>
      </div>

    </button>

    <!-- Right-hand side -->
    <button
      class="sort parallelogram nav_button btn pull-right"
      ng-click="topNavbar.toggleSorter()">

      <div class="skew_fix">

        <span class="sr-only">Toggle button for sorting options</span>

        <span class="hidden-xs-down"></span>
        <i class="fa fa-bars"></i>
      </div>

    </button>

  </section>

</nav><!-- /.top-navbar -->
