<nav class="topnavbar" role="navigation">

  <!-- Left -->
  <div class="topnavbar__header" >
    <!-- href resets the view, orderProp resets the order -->
    <!-- has to come after the select, otherwise the ngclick does not work -->
    <a
      href="#"
      class="home parallelogram btn-default active btn btn-default nav-button">

      <div class="skew-fix">

        <span class="sr-only">home</span>

        <!-- On mobile phones, only shows initials -->
        <span class="letter">M</span>
        <span class="letter hidden-xs">a</span>
        <span class="letter hidden-xs">s</span>
        <span class="letter hidden-xs">a</span>
        <span class="letter hidden-xs">t</span>
        <span class="letter hidden-xs">o</span>
        <span class="letter hidden-xs">s</span>
        <span class="letter hidden-xs">h</span>
        <span class="letter hidden-xs">i</span>
        <span class="letter">N</span>
        <span class="letter hidden-xs">i</span>
        <span class="letter hidden-xs">s</span>
        <span class="letter hidden-xs">h</span>
        <span class="letter hidden-xs">i</span>
        <span class="letter hidden-xs">g</span>
        <span class="letter hidden-xs">u</span>
        <span class="letter hidden-xs">c</span>
        <span class="letter hidden-xs">h</span>
        <span class="letter hidden-xs">i</span>
      </div>
    </a>
    <a
      href="#/about"
      class="about parallelogram expander-plus btn btn-default nav-button">

      <div class="skew-fix">

        <span class="sr-only">Toggle information</span>

        <span class="hidden-xs">About</span>
        <i class="fa fa-info-circle"></i>
      </div>
    </a>
    <a
      href="#/contact"
      class="contact parallelogram expander-hamburger btn btn-default nav-button">

      <div class="skew-fix">

        <span class="sr-only">Toggle contact navigation</span>

        <span class="hidden-xs">Contact</span>
        <i class="fa fa-envelope"></i>
      </div>
    </a>
  </div>

  <!-- Right -->
  <div class="sort-portfolio pull-right">

    <select ng-model="orderProp">

      <option value="" selected>Show All<sup> *</sup></option>
      <option value="latest">Latest</option>
      <option value="websites">Websites</option>
      <option value="print">Print</option>
      <option value="traditional">Fine Art</option>
      <option value="experiments">Experiments</option>
      <option value="MVC">MVC</option>

    </select>
  </div>

</nav><!-- /.top-navbar -->
